Candidate RFCs/I-Ds for Performance Management

Define the list of candidate RFCs/I-Ds which can be relevant for performance management, considering both IP and Optical networks



**[ACTN POI Assurance bi-weekly call (April 8, 2025)](https://github.com/italobusi/draft-poidt-teas-actn-poi-assurance/wiki/minutes-2025-04-08)**

Jeff: for PM we can also consider the SAIN model

- [ ] @Paolo-Volpato : review the list of PM related I-Ds and provide feedbacks if anything is missing


This is the track of discussions regarding the PM models in issue #14:

> For the IP part we identified for the moment at least the following one that should be relevant for network/service assurance in IP/MPLS networks: RFC9417 Service Assurance for Intent-Based Networking Architecture (SAIN). Informational, framework for SAIN RFC9418 A YANG Data Model for Service Assurance ( for implemention of SAIN approach) RFC9375 A YANG Data Model for Network and VPN Service Performance Monitoring

See: https://github.com/italobusi/draft-poidt-teas-actn-poi-assurance/issues/14#issuecomment-2386388919

> **[ACTN POI Assurance bi-weekly call (November 19, 2024)](https://github.com/italobusi/draft-poidt-teas-actn-poi-assurance/wiki/minutes-2024-11-19)**
> 
> There are many drafts about Performance Monitoring (PM) and their relationship is not fully clear
> 
> Some PM drafts discussed during the call:
> 
> 1. https://datatracker.ietf.org/doc/draft-yu-ccamp-optical-resource-pm-yang/
> 2. https://datatracker.ietf.org/doc/draft-yu-ccamp-resource-pm-yang/
> 3. https://datatracker.ietf.org/doc/draft-yoon-ccamp-pm-streaming
> 
> Draft 1) is targeted to optical network resources while draft 2) is a generalization of draft 1) and replaces it
> 
> Draft 3) is aimed at providing a YANG model to manage subscription to telemetry streaming. During the side meeting in Dublin, it has been agreed to split the document into:
> 
> * * a generic document (target OPSAWG) to support subscription and using XPath as a generic pointer any PM data* technology specific models providing technology specific PM data* [ ] 
>     [ ]  [@prmanna](https://github.com/prmanna)  get a list of the PM drafts/RFCs which can be in the scope of the analysis in ACTN POI assurance I-D

See: https://github.com/italobusi/draft-poidt-teas-actn-poi-assurance/issues/14#issuecomment-2485387990

Further detailed discussion can be tracked in issue #14 

**[ACTN POI Assurance bi-weekly call (May 20, 2025)](https://github.com/italobusi/draft-poidt-teas-actn-poi-assurance/wiki/minutes-2025-05-20)**

Chaode presented [Resource PM slides](https://github.com/user-attachments/files/20345071/draft-yu-ccamp-optical-resource-pm-yang-01.pdf) describing the Resource PM YANG data model is proposed in [draft-yu-ccamp-resource-pm-yang](https://datatracker.ietf.org/doc/html/draft-yu-ccamp-resource-pm-yang)

The current data model is generic and it is applicable to any performance indicator. The definition of performance indicators should be in the scope of other drafts

In the scope of the optical pluggable management, some PM indicators have been defined and could be used together with the generic framework

In the current draft the performance indicator is defined as an attribute with a string format so it is quite straightforward to add performance indicators

This I-D was presented to OPSAWG since the framework is generic and applicable to both Optical and IP networks. However, no decision has been taken yet by OPSAWG on this I-D

Julien: most of the time, IP and optical network operations are separated and using different tools

A question was raised about the relationship with [draft-yoon-ccamp-pm-streaming](https://datatracker.ietf.org/doc/html/draft-yoon-ccamp-pm-streaming)

The following differences have been reported:
1. [draft-yoon-ccamp-pm-streaming](https://datatracker.ietf.org/doc/html/draft-yoon-ccamp-pm-streaming) is intended to be a device model while [draft-yu-ccamp-resource-pm-yang](https://datatracker.ietf.org/doc/html/draft-yu-ccamp-resource-pm-yang) is intended to be a network model
2. [draft-yoon-ccamp-pm-streaming](https://datatracker.ietf.org/doc/html/draft-yoon-ccamp-pm-streaming) is supporting streaming PM data while [draft-yu-ccamp-resource-pm-yang](https://datatracker.ietf.org/doc/html/draft-yu-ccamp-resource-pm-yang) is supporting PM data collection (polling)

The following comments have been made:
1. the PM data to be collected should be the same no matter whether it is reported by streaming or polling mechanisms
2. streaming requires subscription but the generic mechanisms should be applicable also to PM data streaming

Conclusion: some work is needed within IETF to reconcile this I-D with [draft-yoon-ccamp-pm-streaming](https://datatracker.ietf.org/doc/html/draft-yoon-ccamp-pm-streaming)

Another framework which can be applicable to the POI assurance use cases is the SAIN framework in [RFC 9417](https://datatracker.ietf.org/doc/rfc9417/)

It would be worthwhile understanding how these different frameworks fit together

Another open issue is about where the specific performance indicators which are needed for POI assurance are or can be defined. For example, the pluggable YANG models are defining some performance indicators for the pluggable interfaces.

Proposed action for IETF 126: review the current list of references, in particular related to PM, and add the RFC/drafts listed above if they are missing, adding a short explanation on why we consider them in scope.