Candidate RFCs/I-Ds

Define the list of candidate RFCs/I-Ds which can be relevant for this work, considering both IP and Optical networks

For the IP part we identified for the moment at least the following one that should be relevant for network/service assurance in IP/MPLS networks:
RFC9417 Service Assurance for Intent-Based Networking Architecture (SAIN). Informational, framework for SAIN
RFC9418 A YANG Data Model for Service Assurance ( for implemention of SAIN approach)
RFC9375 A YANG Data Model for Network and VPN Service Performance Monitoring

**[ACTN POI Assurance bi-weekly call (November 19, 2024)](https://github.com/italobusi/draft-poidt-teas-actn-poi-assurance/blob/main/minutes/minutes-2024-11-19.md)**

There are many drafts about Performance Monitoring (PM) and their relationship is not fully clear

Some PM drafts discussed during the call:

1) https://datatracker.ietf.org/doc/draft-yu-ccamp-optical-resource-pm-yang/

2) https://datatracker.ietf.org/doc/draft-yu-ccamp-resource-pm-yang/

3) https://datatracker.ietf.org/doc/draft-yoon-ccamp-pm-streaming

Draft 1) is targeted to optical network resources while draft 2) is a generalization of draft 1) and replaces it

Draft 3) is aimed at providing a YANG model to manage subscription to telemetry streaming. During the side meeting in Dublin, it has been agreed to split the document into:
- a generic document (target OPSAWG) to support subscription and using XPath as a generic pointer any PM data
- technology specific models providing technology specific PM data

- [ ] @prmanna  get a list of the PM drafts/RFCs which can be in the scope of the analysis in ACTN POI assurance I-D


**[ACTN POI Assurance bi-weekly call (December 17, 2024)](https://github.com/italobusi/draft-poidt-teas-actn-poi-assurance/blob/main/minutes/minutes-2024-12-17.md)**

- [ ] @italobusi @Paolo-Volpato @sergiobelotti @prmanna complete the list of references

**[ACTN POI Assurance bi-weekly call (January 14, 2025)](https://github.com/italobusi/draft-poidt-teas-actn-poi-assurance/wiki/minutes-2025-01-14)**

The list of the fault/performance-related YANG models relevant to the draft, in particular to the IP/MPLS network, is still incomplete.
Suggested action to the team is to add the missing references.

**[ACTN POI Assurance bi-weekly call (January 28, 2025)](https://github.com/italobusi/draft-poidt-teas-actn-poi-assurance/wiki/minutes-2025-01-28)**

There an individual proposal in [draft-yu-ccamp-resource-pm-yang](https://datatracker.ietf.org/doc/html/draft-yu-ccamp-resource-pm-yang) which originally was intended to be used only for optical networks but later expanded to be more generic and applicable also to IP networks (and presented also in OPSAWG). Operators' feedbacks would be useful to understand how to position and move forward this draft in either CCAMP WG or OPSAWG.

There is another another individual proposal in [draft-yoon-ccamp-pm-streaming](https://datatracker.ietf.org/doc/html/draft-yoon-ccamp-pm-streaming) which, based on the breakout discussion in IETF 121, is planned to be updated to become a generic model (applicable to both optical and IP networks) to complement the traditional polling of CD/HD with new streaming reporting mechanisms.

It has been clarified that the scope of this document is to identify gaps and requirements for service assurance in ACTN POI networks. If any gap is identified, work can be started in TEAS WG or other WGs to develop new YANG models addressing the identified gaps.


The plan for updating [draft-yoon-ccamp-pm-streaming](https://datatracker.ietf.org/doc/html/draft-yoon-ccamp-pm-streaming) , as mentioned in https://github.com/italobusi/draft-poidt-teas-actn-poi-assurance/issues/14#issuecomment-2619168191, is available in the [IETF 121 CCAMP WG Presentation](https://datatracker.ietf.org/doc/slides-121-ccamp-06-a-yang-data-model-of-performance-management-streaming/)

**[ACTN POI Assurance bi-weekly call (April 8, 2025)](https://github.com/italobusi/draft-poidt-teas-actn-poi-assurance/wiki/minutes-2025-04-08)**

Agreed to split this task into three tasks for fault, performance and resiliency, with the following order:
- fault
- performance
- resiliency
